<div class="flex h-screen items-center justify-center">
  <form
    class="mx-auto w-full max-w-lg rounded-2xl border border-white p-10 duration-75 ease-in-out hover:scale-[1.02] hover:shadow-lg dark:bg-gray-900"
  >
    <div class="mb-8 text-2xl font-bold text-white">{{ formButtonText }}</div>

    <!-- Minecraft Nickname solo se register -->
    <lib-input
      [options]="{
        id: 'nickname',
        type: 'text',
        label: 'Your Minecraft Nickname',
        required: true,
        show: showMinecraftNickname,
        labelBg: 'bg-white dark:bg-gray-900',
      }"
    >
    </lib-input>

    <lib-input
      [options]="{
        id: 'email',
        type: 'email',
        label: 'Your email',
        required: true,
        labelBg: 'bg-white dark:bg-gray-900',
      }"
    >
    </lib-input>

    <lib-input
      [options]="{
        id: 'password',
        type: 'password',
        label: 'Your password',
        required: true,
        labelBg: 'bg-white dark:bg-gray-900',
      }"
    >
    </lib-input>

    <div class="w-full">
      <button
        type="submit"
        class="w-full rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        {{ formButtonText }}
      </button>

      <div class="mt-4 w-full">
        <div class="mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
          {{ type === 'register' ? 'Have an account?' : 'Don’t have an account?' }}
        </div>
        <a
          [routerLink]="type === 'register' ? '/login' : '/register'"
          class="block w-full rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          {{ toggleText }}
        </a>
      </div>
    </div>
  </form>
</div>
